<div>
    <div class="day-select">
        <md-icon class="nav-icon" md-font-library="material-icons">chevron_left</md-icon>
        <span>{{today.format('ddd, DD.MM.YYYY')}}</span>
        <md-icon class="nav-icon" md-font-library="material-icons">chevron_right</md-icon>
    </div>
    <div class="timeline">
        <bar-chart 
            ng-if="showStats"
            color="color4"
            max="1.1"
            is-sleep="0"
            data="timeSeries4"></bar-chart>
        <bar-chart 
            ng-if="showStats"
            color="color5"
            is-sleep="1"
            max="3"
            data="timeSeries5"></bar-chart>
        <line-chart 
            ng-if="showStats"
            color="color"
            data="timeSeries"></line-chart>
        <line-chart 
            ng-if="showStats"
            color="color2"
            data="timeSeries2"></line-chart>
        <line-chart 
            ng-if="showStats"
            color="color3"
            data="timeSeries3"></line-chart>
        <div class="events">
            <span class="icon" style="left:{{event.left}}px;" ng-repeat="event in events">
                        <md-tooltip md-direction="top">
                        {{event.name}}
                        </md-tooltip>
                <md-icon class="nav-icon" md-font-library="material-icons">{{event.icon}}</md-icon>
            </span>
        </div>
    </div>
    <div class="times-of-day" layout="row">
        <span class="time" flex ng-repeat="t in timesOfDay">
            {{t}}:00
        </span>
    </div>
    <div></div>
</div>