<section layout="row" layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak class="insights">
    <md-whiteframe ng-repeat="insight in insights" class="md-whiteframe-1dp" flex-gt-md="45" layout="column" layout-align="">
        <div class="header">
            <md-icon md-font-library="material-icons" class="warning">warning</md-icon>
            <span class="title">Get more sleep</span>
        </div>
        <div class="content" layout="row">
            <img ng-src="" />
            <p flex>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptuausam et, no sea takimat...
            </p>
        </div>
    </md-whiteframe>
</section>