<section class="medical-history" layout="column">
    <div class="filters">
        <md-radio-group ng-model="mode" layout="row">
            <md-radio-button value="all" class="md-primary">All</md-radio-button>
            <md-radio-button value="red"> Injuries </md-radio-button>
            <md-radio-button value="yellow">Vaccination</md-radio-button>
        </md-radio-group>
    </div>
    <div layout="row" flex class="event-timeline">
        <span class="bubble top" ng-class="mode"></span>
        <div class="left" flex ng-class="mode">
            <div class="entry" ng-repeat="entry in leftArray | filter: myFilter" ng-class="mode">
                <span>{{ entry.end_date | date:'dd.MM.yyyy' }}</span> - <span class="title">{{entry.therapy}}</span>
                <p></p>
            </div>
        </div>
        <div class="right" flex>
            <div class="entry" ng-repeat="entry in rightArray | filter: myFilter" ng-class="mode">
                <span>{{ entry.end_date | date:'dd.MM.yyyy' }}</span> - <span class="title">{{entry.therapy}}</span>
                <p>{{entry.type}}</p>
            </div>
        </div>
    </div>
    <md-button class="md-fab btn-add" aria-label="Eat cake" ng-click="showDrugPopup($event)">+</md-button>

</section>