.day-select{
    height: 24px;
    line-height: 24px;
    text-align: center;
    span{
       display: inline-block;
        vertical-align: middle;
        height: 24px;
    }
}
.timeline{
    margin-top: 12px;
    background-color: #E0E0E0;
    height: 300px;
}